{% extends "base.html" %}
{% block titulo %}Inicio Usuario{% endblock %}

{% block script %}{% endblock %}

{% block estilos %}
 <link rel="stylesheet" href="/static/css/estilos.css">
{% endblock %}

{% block encabezado %}
    <h3 class="jumbotron">Bienvenido</h3>
{% endblock %}

{% block barra %}
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link opcion inicio" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link opcion" href="{% url 'Firmar' %}">Firmar Archivo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link opcion" href="{% url 'Verificar' %}">Verificar Firma</a>
        </li>
  </ul>
</nav>

{% endblock %}

{% block contenido %}
<section class="container">
    <article>
        <a class="btn btn-outline-warning" role="button" href="{% url 'Renovar' %}">Renovar Llaves</a>
    </article>
</section>
{% endblock %}